@import url('https://fonts.googleapis.com/css?family=Asap:700');
body {
  padding-top: 50px;
  font-family: 'Asap', sans-serif !important;
}

a {
  color: #00B7FF;
}

.bg-custom {
	background-color: #2a64c1;
}

.body-custom {
	padding-top: 50px;
	padding-bottom: 20px;
}

.navsize-custom {
	height: 100px;
}

.addborders {
	border: 1px solid black;
}
.gradTop {
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, blue); /* Standard syntax */
}
.gradBottom {
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blue, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, black); /* Standard syntax */
}

.rowHeight25 {height: 25px;}
.rowHeight50 {height: 50px;}
.rowHeight75 {height: 75px;}
.rowHeight100 {height: 100px;}
.rowHeight125 {height: 125px;}
.rowHeight150 {height: 150px;}
.rowHeight175 {height: 175px;}
.rowHeight200 {height: 200px;}
.rowHeight225 {height: 225px;}
.rowHeight250 {height: 250px;}

.colPad5 {padding-top:5%;padding-bottom:5%;}
.colPad10 {padding-top:15%;padding-bottom:5%;}
.colPad25 {padding-top:25%;padding-bottom:5%;}
.colPad30 {padding-top:30%;padding-bottom:5%;}
.colPad40 {padding-top:40%;padding-bottom:5%;}
.colPad50 {padding-top:50%;padding-bottom:5%;}

.linkWidth{width: 100%;}